In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/tmdb-movie-metadata/tmdb_5000_credits.csv
/kaggle/input/tmdb-movie-metadata/tmdb_5000_movies.csv
/kaggle/input/the-movies-dataset/links.csv
/kaggle/input/the-movies-dataset/ratings_small.csv
/kaggle/input/the-movies-dataset/links_small.csv
/kaggle/input/the-movies-dataset/credits.csv
/kaggle/input/the-movies-dataset/ratings.csv
/kaggle/input/the-movies-dataset/movies_metadata.csv
/kaggle/input/the-movies-dataset/keywords.csv

In [2]:
df1=pd.read_csv("../input/tmdb-movie-metadata/tmdb_5000_credits.csv")
df2=pd.read_csv("../input/tmdb-movie-metadata/tmdb_5000_movies.csv")
df1.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [3]:
df2.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

# **Demographic Filtering**

In [4]:
mean_vote=df2["vote_average"].mean()
print("mean_vote",mean_vote)
min_votes=df2['vote_count'].quantile(0.8) # more votes than at least 80% of the movies
print("min_votes",min_votes)

mean_vote 6.092171559442011
min_votes 957.6000000000004

In [5]:
d_movies=df2.loc[df2['vote_count']>=min_votes] # Taking only those movies which cross the threshold
print("No of movies which can be suggested -> ",d_movies.shape[0])

No of movies which can be suggested ->  961

In [6]:
# Using IMDB rating equation
def helper(dataframe,mean_votes=mean_vote,min_votes=min_votes):
    votes=dataframe['vote_count']
    rating=dataframe['vote_average']
    return (votes/(votes+min_votes)*rating + min_votes/(votes+min_votes)*mean_vote)

In [7]:
d_movies['score']=d_movies.apply(helper,axis=1)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
d_movies.sort_values('score',ascending=False,inplace=True)
d_movies[['title','vote_count','score']].head(20)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                                                  title  vote_count     score
1881                           The Shawshank Redemption        8205  8.248353
662                                          Fight Club        9413  8.096134
3337                                      The Godfather        5893  8.077404
3232                                       Pulp Fiction        8428  8.074738
65                                      The Dark Knight       12002  8.044250
809                                        Forrest Gump        7927  7.972814
96                                            Inception       13752  7.969290
95                                         Interstellar       10867  7.937399
1990                            The Empire Strikes Back        5879  7.904757
1818                                   Schindler's List        4329  7.900080
3865                                           Whiplash        4254  7.894325
329       The Lord of the Rings: The Return of the King        8064  7.886879
2294                                      Spirited Away        3840  7.859318
2912                                          Star Wars        6624  7.846400
1553                                              Se7en        5765  7.813995
262   The Lord of the Rings: The Fellowship of the Ring        8705  7.810927
2731                             The Godfather: Part II        3338  7.807818
690                                      The Green Mile        4048  7.796760
330               The Lord of the Rings: The Two Towers        7487  7.783656
77                                           Inside Out        6560  7.756979

# Content Based Filtering
**Using plot description**

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer(stop_words='english')
df2['overview']=df2['overview'].fillna("")
# Removing everything except letters
df2['overview']=df2['overview'].str.replace('[^a-zA-Z]'," ")
df2['overview'].head(10)

0    In the   nd century  a paraplegic Marine is di...
1    Captain Barbossa  long believed to be dead  ha...
2    A cryptic message from Bond s past sends him o...
3    Following the death of District Attorney Harve...
4    John Carter is a war weary  former military ca...
5    The seemingly invincible Spider Man goes up ag...
6    When the kingdom s most wanted and most charmi...
7    When Tony Stark tries to jumpstart a dormant p...
8    As Harry begins his sixth year at Hogwarts  he...
9    Fearing the actions of a god like Super Hero l...
Name: overview, dtype: object

In [10]:
# Removing words with length less than 3
df2['overview']=df2['overview'].apply(lambda x:" ".join([w for w in x.split() if len(w)>3]) )
df2['overview'].head()

0    century paraplegic Marine dispatched moon Pand...
1    Captain Barbossa long believed dead come back ...
2    cryptic message from Bond past sends trail unc...
3    Following death District Attorney Harvey Dent ...
4    John Carter weary former military captain inex...
Name: overview, dtype: object

In [11]:
# Converting to list of string for stemming
tokenized_desc=df2['overview'].apply(lambda x: x.split())

from nltk.stem.porter import *
stemmer=PorterStemmer()
tokenized_desc=tokenized_desc.apply(lambda x:[stemmer.stem(i) for i in x])
tokenized_desc

0       [centuri, parapleg, marin, dispatch, moon, pan...
1       [captain, barbossa, long, believ, dead, come, ...
2       [cryptic, messag, from, bond, past, send, trai...
3       [follow, death, district, attorney, harvey, de...
4       [john, carter, weari, former, militari, captai...
                              ...
4798    [mariachi, just, want, play, guitar, carri, fa...
4799    [newlyw, coupl, honeymoon, upend, arriv, their...
4800    [sign, seal, deliv, introduc, dedic, quartet, ...
4801    [when, ambiti, york, attorney, sent, shanghai,...
4802    [ever, sinc, second, grade, when, first, extra...
Name: overview, Length: 4803, dtype: object

In [12]:
for i in range(len(tokenized_desc)):
    tokenized_desc[i]=' '.join(tokenized_desc[i])

In [13]:
df2['overview_cleaned']=tokenized_desc
df2[['overview','overview_cleaned']].head()
df2.drop('overview',axis=1,inplace=True)

In [14]:
tfidf_matrix=tfidf.fit_transform(df2['overview_cleaned'])
print('Total words -> ',tfidf_matrix.shape[1])

Total words ->  14231

**We will use cosine similarity for calculating similarity between movies.**
**It is easy to calculate and is independent of magnitude**

In [15]:
from sklearn.metrics.pairwise import linear_kernel
# computing cosine similarity
cosine_sim=linear_kernel(tfidf_matrix,tfidf_matrix)
cosine_sim.shape

(4803, 4803)

In [16]:
# Constructing reverse map of indices and title
indices=pd.Series(df2.index,index=df2['title'])
indices

title
Avatar                                         0
Pirates of the Caribbean: At World's End       1
Spectre                                        2
The Dark Knight Rises                          3
John Carter                                    4
                                            ...
El Mariachi                                 4798
Newlyweds                                   4799
Signed, Sealed, Delivered                   4800
Shanghai Calling                            4801
My Date with Drew                           4802
Length: 4803, dtype: int64

In [17]:
def recommendations(title,cosine_sim=cosine_sim):
    index=indices[title]
    sim_scores=list(enumerate(cosine_sim[index]))
    sim_scores=sorted(sim_scores,key=lambda x:x[1],reverse=True)
    # 10 most similar movies
    sim_scores=sim_scores[1:11]
    movie_ind=[x[0] for x in sim_scores]
    return df2['title'].iloc[movie_ind]

In [18]:
recommendations('Fight Club')

3662                Rudderless
3619                       UHF
3532               Ghost World
2585           The Hurt Locker
2509                   Slither
4760     This Is Martin Bonner
3542                      R100
3162               Thunderball
3714                    Exiled
2395    Step Up 2: The Streets
Name: title, dtype: object

In [19]:
recommendations('The Dark Knight Rises')

65                              The Dark Knight
428                              Batman Returns
299                              Batman Forever
1359                                     Batman
3854    Batman: The Dark Knight Returns, Part 2
2507                                  Slow Burn
119                               Batman Begins
210                              Batman & Robin
9            Batman v Superman: Dawn of Justice
1181                                        JFK
Name: title, dtype: object

# **Credits, Genres and Keywords based recommenders**

In [20]:
df2['genres'].head()
# These are json objects we need to convert them to corresponding python objects

0    [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1    [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2    [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3    [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4    [{"id": 28, "name": "Action"}, {"id": 12, "nam...
Name: genres, dtype: object

In [21]:
df1.columns

Index(['movie_id', 'title', 'cast', 'crew'], dtype='object')

In [22]:
df1.columns=['id','title','cast','crew']
df2=df2.merge(df1,on='id')
df2.head()

,budget,genres,homepage,id,keywords,original_language,original_title,popularity,production_companies,production_countries,...,spoken_languages,status,tagline,title_x,vote_average,vote_count,overview_cleaned,title_y,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,centuri parapleg marin dispatch moon pandora u...,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,captain barbossa long believ dead come back li...,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",...,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,cryptic messag from bond past send trail uncov...,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,follow death district attorney harvey dent bat...,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,john carter weari former militari captain inex...,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [23]:
from ast import literal_eval

features = ['cast', 'crew', 'keywords', 'genres']
for feature in features:
    df2[feature] = df2[feature].apply(literal_eval) #Stringified features to their corresponding python objects

In [24]:
df2.head()

,budget,genres,homepage,id,keywords,original_language,original_title,popularity,production_companies,production_countries,...,spoken_languages,status,tagline,title_x,vote_average,vote_count,overview_cleaned,title_y,cast,crew
0,237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.avatarmovie.com/,19995,"[{'id': 1463, 'name': 'culture clash'}, {'id':...",en,Avatar,150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,centuri parapleg marin dispatch moon pandora u...,Avatar,"[{'cast_id': 242, 'character': 'Jake Sully', '...","[{'credit_id': '52fe48009251416c750aca23', 'de..."
1,300000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://disney.go.com/disneypictures/pirates/,285,"[{'id': 270, 'name': 'ocean'}, {'id': 726, 'na...",en,Pirates of the Caribbean: At World's End,139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,captain barbossa long believ dead come back li...,Pirates of the Caribbean: At World's End,"[{'cast_id': 4, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4232c3a36847f800b579', 'de..."
2,245000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{'id': 470, 'name': 'spy'}, {'id': 818, 'name...",en,Spectre,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",...,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,cryptic messag from bond past send trail uncov...,Spectre,"[{'cast_id': 1, 'character': 'James Bond', 'cr...","[{'credit_id': '54805967c3a36829b5002c41', 'de..."
3,250000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",http://www.thedarkknightrises.com/,49026,"[{'id': 849, 'name': 'dc comics'}, {'id': 853,...",en,The Dark Knight Rises,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,follow death district attorney harvey dent bat...,The Dark Knight Rises,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '52fe4781c3a36847f81398c3', 'de..."
4,260000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://movies.disney.com/john-carter,49529,"[{'id': 818, 'name': 'based on novel'}, {'id':...",en,John Carter,43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,john carter weari former militari captain inex...,John Carter,"[{'cast_id': 5, 'character': 'John Carter', 'c...","[{'credit_id': '52fe479ac3a36847f813eaa3', 'de..."

In [25]:
def director(l):
    for i in l:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [26]:
def list_helper(x):
    if isinstance(x,list):
        names=[i['name'] for i in x]
        if len(names)>3:
            names=names[:3]
        return names
    return []

In [27]:
df2.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title_x', 'vote_average',
       'vote_count', 'overview_cleaned', 'title_y', 'cast', 'crew'],
      dtype='object')

In [28]:
df2['director']=df2['crew'].apply(director)
features = ['cast', 'keywords', 'genres']
for feature in features:
    df2[feature] = df2[feature].apply(list_helper)
df2[['title_x', 'cast', 'director', 'keywords', 'genres']].head()

,title_x,cast,director,keywords,genres
0,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",James Cameron,"[culture clash, future, space war]","[Action, Adventure, Fantasy]"
1,Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley]",Gore Verbinski,"[ocean, drug abuse, exotic island]","[Adventure, Fantasy, Action]"
2,Spectre,"[Daniel Craig, Christoph Waltz, Léa Seydoux]",Sam Mendes,"[spy, based on novel, secret agent]","[Action, Adventure, Crime]"
3,The Dark Knight Rises,"[Christian Bale, Michael Caine, Gary Oldman]",Christopher Nolan,"[dc comics, crime fighter, terrorist]","[Action, Crime, Drama]"
4,John Carter,"[Taylor Kitsch, Lynn Collins, Samantha Morton]",Andrew Stanton,"[based on novel, mars, medallion]","[Action, Adventure, Science Fiction]"

In [29]:
def cleaner(x):
    if isinstance(x,list):
        return [str.lower(i.replace(" ","")) for i in x]
    else:
        if isinstance(x,str):
            return str.lower(x.replace(" ",""))
        else:
            return ''

In [30]:
# For better vectorizing 
features = ['cast', 'keywords', 'director', 'genres']

for feature in features:
    df2[feature]=df2[feature].apply(cleaner)
df2[['title_x', 'cast', 'director', 'keywords', 'genres']].head()

,title_x,cast,director,keywords,genres
0,Avatar,"[samworthington, zoesaldana, sigourneyweaver]",jamescameron,"[cultureclash, future, spacewar]","[action, adventure, fantasy]"
1,Pirates of the Caribbean: At World's End,"[johnnydepp, orlandobloom, keiraknightley]",goreverbinski,"[ocean, drugabuse, exoticisland]","[adventure, fantasy, action]"
2,Spectre,"[danielcraig, christophwaltz, léaseydoux]",sammendes,"[spy, basedonnovel, secretagent]","[action, adventure, crime]"
3,The Dark Knight Rises,"[christianbale, michaelcaine, garyoldman]",christophernolan,"[dccomics, crimefighter, terrorist]","[action, crime, drama]"
4,John Carter,"[taylorkitsch, lynncollins, samanthamorton]",andrewstanton,"[basedonnovel, mars, medallion]","[action, adventure, sciencefiction]"

In [31]:
def create_metadata_list(x):
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + x['director'] + ' ' + ' '.join(x['genres'])
df2['metadata'] = df2.apply(create_metadata_list, axis=1)
df2.head()

,budget,genres,homepage,id,keywords,original_language,original_title,popularity,production_companies,production_countries,...,tagline,title_x,vote_average,vote_count,overview_cleaned,title_y,cast,crew,director,metadata
0,237000000,"[action, adventure, fantasy]",http://www.avatarmovie.com/,19995,"[cultureclash, future, spacewar]",en,Avatar,150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,Enter the World of Pandora.,Avatar,7.2,11800,centuri parapleg marin dispatch moon pandora u...,Avatar,"[samworthington, zoesaldana, sigourneyweaver]","[{'credit_id': '52fe48009251416c750aca23', 'de...",jamescameron,cultureclash future spacewar samworthington zo...
1,300000000,"[adventure, fantasy, action]",http://disney.go.com/disneypictures/pirates/,285,"[ocean, drugabuse, exoticisland]",en,Pirates of the Caribbean: At World's End,139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,captain barbossa long believ dead come back li...,Pirates of the Caribbean: At World's End,"[johnnydepp, orlandobloom, keiraknightley]","[{'credit_id': '52fe4232c3a36847f800b579', 'de...",goreverbinski,ocean drugabuse exoticisland johnnydepp orland...
2,245000000,"[action, adventure, crime]",http://www.sonypictures.com/movies/spectre/,206647,"[spy, basedonnovel, secretagent]",en,Spectre,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",...,A Plan No One Escapes,Spectre,6.3,4466,cryptic messag from bond past send trail uncov...,Spectre,"[danielcraig, christophwaltz, léaseydoux]","[{'credit_id': '54805967c3a36829b5002c41', 'de...",sammendes,spy basedonnovel secretagent danielcraig chris...
3,250000000,"[action, crime, drama]",http://www.thedarkknightrises.com/,49026,"[dccomics, crimefighter, terrorist]",en,The Dark Knight Rises,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,The Legend Ends,The Dark Knight Rises,7.6,9106,follow death district attorney harvey dent bat...,The Dark Knight Rises,"[christianbale, michaelcaine, garyoldman]","[{'credit_id': '52fe4781c3a36847f81398c3', 'de...",christophernolan,dccomics crimefighter terrorist christianbale ...
4,260000000,"[action, adventure, sciencefiction]",http://movies.disney.com/john-carter,49529,"[basedonnovel, mars, medallion]",en,John Carter,43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",...,"Lost in our world, found in another.",John Carter,6.1,2124,john carter weari former militari captain inex...,John Carter,"[taylorkitsch, lynncollins, samanthamorton]","[{'credit_id': '52fe479ac3a36847f813eaa3', 'de...",andrewstanton,basedonnovel mars medallion taylorkitsch lynnc...

In [32]:
# We will use count vectorizer as we dont want to downweight the director if he has worked in more than 1 movies
from sklearn.feature_extraction.text import CountVectorizer
count=CountVectorizer(stop_words='english')
count_matrix=count.fit_transform(df2['metadata'])
count_matrix.shape

(4803, 11520)

In [33]:
count_sim=linear_kernel(count_matrix,count_matrix)
count_sim.shape

(4803, 4803)

In [34]:
# Reverse Mapping
df2=df2.reset_index()
indices=pd.Series(df2.index,index=df2['title_x'])
indices

title_x
Avatar                                         0
Pirates of the Caribbean: At World's End       1
Spectre                                        2
The Dark Knight Rises                          3
John Carter                                    4
                                            ...
El Mariachi                                 4798
Newlyweds                                   4799
Signed, Sealed, Delivered                   4800
Shanghai Calling                            4801
My Date with Drew                           4802
Length: 4803, dtype: int64

In [35]:
def recommendations(title,cosine_sim=count_sim):
    index=indices[title]
    sim_scores=list(enumerate(cosine_sim[index]))
    sim_scores=sorted(sim_scores,key=lambda x:x[1],reverse=True)
    # 10 most similar movies
    sim_scores=sim_scores[1:11]
    movie_ind=[x[0] for x in sim_scores]
    return df2['title_x'].iloc[movie_ind]

In [36]:
recommendations('Fight Club')

100    The Curious Case of Benjamin Button
45                             World War Z
145                                   Troy
248                       Mr. & Mrs. Smith
377                        The Devil's Own
407                         Meet Joe Black
421                                 Zodiac
456                                   Fury
571                   Inglourious Basterds
592                   Seven Years in Tibet
Name: title_x, dtype: object

In [37]:
recommendations('The Dark Knight Rises')

65                     The Dark Knight
119                      Batman Begins
1196                      The Prestige
3073                 Romeo Is Bleeding
72                       Suicide Squad
82      Dawn of the Planet of the Apes
157             Exodus: Gods and Kings
210                     Batman & Robin
280                     Public Enemies
299                     Batman Forever
Name: title_x, dtype: object

# **Collaborative Filtering**
**Item Based**

In [38]:
# Content based filtering is not able to capture tastes and
# Not able to provide recommendations across generes
# As the previous dataset didnt have userID we will import another dataset
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate
import surprise
ratings = pd.read_csv('../input/the-movies-dataset/ratings_small.csv')
ratings.head()
# Movies rated on the scale of 5

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [39]:
reader=Reader()
data=Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)

In [40]:
svd=SVD()
surprise.model_selection.validation.cross_validate(svd, data, measures=['rmse', 'mae'], cv=5)

{'test_rmse': array([0.89151917, 0.90167525, 0.89481909, 0.89644708, 0.90098108]),
 'test_mae': array([0.68558101, 0.69449502, 0.69200021, 0.68863859, 0.69187811]),
 'fit_time': (8.973485231399536,
  8.883864879608154,
  8.991095781326294,
  8.952864646911621,
  8.960122108459473),
 'test_time': (0.28620219230651855,
  0.4202101230621338,
  0.29482102394104004,
  0.28357911109924316,
  0.2849597930908203)}

In [41]:
# Training our dataset
trainset = data.build_full_trainset()
svd.fit(trainset)

In [42]:
ratings[ratings['userId']==5]

     userId  movieId  rating   timestamp
351       5        3     4.0  1163374957
352       5       39     4.0  1163374952
353       5      104     4.0  1163374639
354       5      141     4.0  1163374242
355       5      150     4.0  1163374404
..      ...      ...     ...         ...
446       5    35836     4.0  1163374275
447       5    40819     4.5  1163374283
448       5    41566     4.0  1163374144
449       5    41569     4.0  1163374167
450       5    48385     4.5  1163374357

[100 rows x 4 columns]

In [43]:
svd.predict(1, 302).est

2.6464081451624053

# Hybrid Recommender

In [44]:
def to_int(x):
    try:
        return int(x)
    except:
        return np.nan

In [45]:
id_map = pd.read_csv('../input/the-movies-dataset/links_small.csv')[['movieId', 'tmdbId']]
id_map['tmdbId'] = id_map['tmdbId'].apply(to_int)
id_map.columns = ['movieId', 'id']
id_map.head()

   movieId       id
0        1    862.0
1        2   8844.0
2        3  15602.0
3        4  31357.0
4        5  11862.0

In [46]:
id_map = id_map.merge(df2[['title_x', 'id']], on='id').set_index('title_x')
id_map.head()

                        movieId       id
title_x
Toy Story                     1    862.0
GoldenEye                    10    710.0
The American President       11   9087.0
Nixon                        14  10858.0
Cutthroat Island             15   1408.0

In [47]:
indices_map = id_map.set_index('id')
indices_map.head()

         movieId
id
862.0          1
710.0         10
9087.0        11
10858.0       14
1408.0        15

In [48]:
def hybrid(userId, title):
    idx = indices[title]
    tmdbId = id_map.loc[title]['id']
    movie_id = id_map.loc[title]['movieId']
    
    sim_scores = list(enumerate(count_sim[int(idx)]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    if len(sim_scores)>26:
        sim_scores=sim_scores[1:26]
    movie_indices = [i[0] for i in sim_scores]
    
    movies = df2.iloc[movie_indices][['title_x', 'vote_count', 'vote_average', 'id']]
    movies['est'] = movies['id'].apply(lambda x: svd.predict(userId, indices_map.loc[x]['movieId']).est)
    movies = movies.sort_values('est', ascending=False)
    return movies.head(10)

In [49]:
hybrid(1,"Fight Club")

,title_x,vote_count,vote_average,id,est
571,Inglourious Basterds,6430,7.9,16869,3.514635
693,Gone Girl,5862,7.9,210577,3.231794
1553,Se7en,5765,8.1,807,3.146448
1330,Burn After Reading,1222,6.5,4944,3.025299
946,The Game,1506,7.5,2649,3.013334
928,Moneyball,1381,7.0,60308,2.993362
421,Zodiac,2023,7.3,1949,2.983508
1512,A History of Violence,832,6.9,59,2.942360
1161,The Social Network,3391,7.1,37799,2.926040
100,The Curious Case of Benjamin Button,3292,7.3,4922,2.891491

In [50]:
hybrid(50,'Fight Club')

,title_x,vote_count,vote_average,id,est
571,Inglourious Basterds,6430,7.9,16869,4.011993
421,Zodiac,2023,7.3,1949,3.987888
693,Gone Girl,5862,7.9,210577,3.743748
1161,The Social Network,3391,7.1,37799,3.687415
946,The Game,1506,7.5,2649,3.665196
1330,Burn After Reading,1222,6.5,4944,3.638665
100,The Curious Case of Benjamin Button,3292,7.3,4922,3.617435
1512,A History of Violence,832,6.9,59,3.598230
928,Moneyball,1381,7.0,60308,3.575496
1553,Se7en,5765,8.1,807,3.500276

In [51]:
hybrid(50,'Avatar')

,title_x,vote_count,vote_average,id,est
85,Captain America: The Winter Soldier,5764,7.6,100402,3.987992
94,Guardians of the Galaxy,9742,7.9,118340,3.801912
127,Mad Max: Fury Road,9427,7.2,76341,3.735469
47,Star Trek Into Darkness,4418,7.4,54138,3.711979
30,Spider-Man 2,4321,6.7,558,3.664513
107,Warcraft,2268,6.3,68735,3.644228
98,The Hobbit: An Unexpected Journey,8297,7.0,49051,3.575043
46,X-Men: Days of Future Past,6032,7.5,127585,3.554763
103,The Sorcerer's Apprentice,1470,5.8,27022,3.541280
20,The Amazing Spider-Man,6586,6.5,1930,3.438667

References:
https://www.kaggle.com/rounakbanik/movie-recommender-systems